rancher_api_url                 = ""
rancher_access_key              = ""
rancher_secret_key              = ""
harvester_cloud_crenditial_name = "harvesterkvm"
harvester_name                  = "harvesterkvm"
image_name                      = "default/image-z5cht"
network_name                    = "default/vlan1"
rke2_version                    = "v1.26.10+rke2r2"